div.menu_l,p.menu_s
{
margin:0px;
padding:5px;
text-align:center;
background:#503a12;
text-align:center;
}
div.menu_left
{
margin:0px;
padding:10px;
text-align:center;
background:#808000;
}
div.menu_l
{
height:48px;
display:none;
text-align:center;
}
.menu_l
{
color:#FFFFFF;
font-family:SimHei;
font-size:20px;
text-align:center;
line-height:10px;
}
.menu_s
{
color:#FFFFFF;
font-family:SimHei;
font-size:16px;
text-align:center;
}
div.title
{
height:80px;
margin:0px;
padding:3px;
text-align:center;
background:#34302d;
font-family:SimHei;
color:#FFFFFF;
font-size:28px;
line-height:2px;
}
div.column
{
height:30px;
width:160px;
margin:0px;
padding:5px;
line-height:15px;
background:#3a2c16;
font-family:SimHei;
color:#FFFFFF;
font-size:13px;
text-align:center;
}
div.columnon
{
height:30px;
width:160px;
margin:0px;
padding:5px;
line-height:15px;
background:#dddddd;
font-family:SimHei;
color:#000000;
font-size:13px;
text-align:center;
}