@CHARSET "UTF-8";
div.menu_l,p.menu_s
{
margin:0px;
padding:5px;
text-align:center;
background:#34302d;
}
div.menu_left
{

background:#400040;
}
div.menu_l
{
height:80px;
display:none;
}
.menu_l
{
color:#FFFFFF;
font-family:SimHei;
}
.menu_s
{
color:#FFFFFF;
font-family:SimHei;
}