
.title_name
{
	padding:40px 0 30px 0;
	font-size:125%;color:#505050;
	line-height:1.25em;
	margin-left:0;
	margin-right:0;
	width:100%
}

.main_window
{
	width:100%;
	*zoom:1
}
.main_window a
{
	color:#1570a6
	
}
.main_window a:hover
{
	color:#d52d00
	
}
.title_name_little
{
	color:#1570a6
}

.faceplate
{
	
	margin-top:0;
	padding-bottom:27px;
	padding-left:35px;
	padding-right:0;
	line-height:1.25em;
	font-size:81%;
	margin-left:3.6%;
	margin-bottom:10px;
	list-style-type:disc;
	

}
.embed
{
	background-color:#dfdfdf;
	margin-top:18px;
	margin-bottom:10px;
	word-break:break-all;
	padding:0 0 15px 20px
}

.second-embed
{
	background-color:#dfdfdf;
	margin-top:18px;
	margin-bottom:10px;
	word-break:break-all;
	padding:0 0 15px 25px;
	color: #006c00;
	vertical-align:baseline;
}
.third-embed
{
	background-color:#dfdfdf;
	margin-top:18px;
	margin-bottom:10px;
	word-break:break-all;
	padding:0 0 15px 50px;
	color: #804040;
	vertical-align:baseline;
}
.second-embed-unit
{
	padding:0 0 0 5px;
	color: #006c00;
	vertical-align:baseline;
}
.third-embed-unit
{
	padding:0 0 0 5px;
	vertical-align:baseline;
	color: #804040;
}
.line
{
	border-bottom:1px solid #d2d2d2
}
.dotted-line
{
	height:1px;
	border:none;
	border-top:1px dashed #c0c0c0;										
}
.dotted-line-nocolor
{
	height:5px;
	border:none;
	border-top:0px dashed #c0c0c0;										
}
.contacts
{
	display:none;
}
.contacts_less
{
	display:none;
}
.preparation_ref
{
	display:none;
}
.preparation_ref_less
{
	display:none;
}

.second_level_text
{
	margin-top:0;
	padding-bottom:27px;
	padding-left:35px;
	line-height:1.25em;
	font-size:81%;
	display:none;
	vertical-align:baseline;
}
.second_level_text_show
{
	margin-top:0;
	padding-bottom:27px;
	padding-left:35px;
	line-height:1.25em;
	font-size:81%;
	vertical-align:baseline;
}
.second_level_input
{
	margin-top:0;
	padding-bottom:27px;
	padding-left:35px;
	line-height:1.25em;
	font-size:81%;
}
.second_leve_menu
{
	height:40px;
	with:920px;
	line-height:40px;  
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.second_leve_menu:hover
{
	background-color:#bfbfbf;
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.physiological_data-select
{
	border: 1px solid #525252;
	border-radius: 5px;
	text-align:center;
	width: 40%;
	color: #ffffff;
	padding:5px 3px 5px 3px;
	background: #525252;
	line-height:1.25em;
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.physiological_data-select:hover
{
	border: 1px solid #808080;
	color: #000000;
	background: #ffffff;
	cursor:pointer;
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.physiological_data
{
	display:none;
}

/* ================================================================= */
ul,li{margin: 0;padding: 0;}

#tabbox{overflow:hidden; margin:0 auto;}
.tab_conbox{border: 0px dashed #999;border-top: none;}
.tab_con{ display:none;padding:5px;}

.tabs{height: 32px;border-bottom:0px dashed #999;border-left: 0px dashed #999;width: 100%;}
.tabs label{height:31px;line-height:31px;float:left;border:0px dashed #999;border-left:none;margin-bottom: -1px;overflow: hidden;position: relative;}
.tabs label{display: block;padding: 0 20px;border: 0px solid #fff;outline: none;}
.tabs label:hover {background: #ccc;}    
.tabs .thistab,.tabs .thistab label:hover{background: #c0c0c0;border-bottom: 1px solid #fff;}

